<div>
    <app-navbar></app-navbar>
</div><br><br>
<div class="bg">
    <h1 style="text-align: center; padding-top: 5px; color: brown;">Welcome to Loan Shark</h1>
    <ul style="font-size: 30px; float: right; padding-right: 20%; color: rgb(34, 34, 3);">
        <li>We are with you</li>
        <li> Your financial friend</li>
        <li> The loan you deserve</li>
        <li> You can achieve it too</li>
        <li>All you need is a good credit score</li>
        <li> Get all the only you need</li>
        <li> For your every need</li>
        <li> Loans that matter</li>
        <li> We are just a call away</li>
        <li>Only for you</li>
    </ul>

</div>