<div>
    <app-navbar></app-navbar>
</div>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Loan Form</h3>
                        <form id="loanForm" (ngSubmit)="applyloan()">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="text" name="firstName" class="form-control form-control-lg" [(ngModel)]="loanData.firstName" />
                                        <label class="form-label" for="firstName">First Name</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="text" name="lastName" class="form-control form-control-lg" [(ngModel)]="loanData.lastName"/>
                                        <label class="form-label" for="lastName">Last Name</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control form-control-lg" name="occupation" [(ngModel)]="loanData.occupation" />
                                        <label for="occupation" class="form-label">Occupation</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <input type="textarea" class="form-control form-control-lg" name="address" [(ngModel)]="loanData.address"/>name
                                        <label for="address" class="form-label">Address</label>
                                    </div>

                                </div>
                         

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="email" name="emailId" class="form-control form-control-lg" [(ngModel)]="loanData.emailId"/>
                                        <label class="form-label" for="emailId">Email</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="tel" name="phoneNo" class="form-control form-control-lg" [(ngModel)]="loanData.phoneNo" />
                                        <label class="form-label" for="phoneNo">Phone Number</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <select class="select form-control-lg" name="loanCategory" [(ngModel)]="loanData.loanCategory">
                                        <option value="Home">Home</option>
                                        <option value="Student">Student</option>
                                        <option value="Education">Education</option>
                                    </select>
                                    <label class="form-label select-label">Loan Type</label>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">
  
                                    <div class="form-outline">
                                      <input type="number" name="interestRate" class="form-control form-control-lg"[(ngModel)]="loanData.interestRate" />
                                      <label class="form-label" for="interestRate">Interest Rate</label>
                                    </div>
                  
                                  </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="number" name="loanAmount" class="form-control form-control-lg" [(ngModel)]="loanData.loanAmount" />
                                        <label class="form-label" for="loanAmount">Loan Amount</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input type="number" name="duration" placeholder="..in months " class="form-control form-control-lg" [(ngModel)]="loanData.duration"/>
                                        <label class="form-label" for="duration">Duration</label>
                                    </div>

                                </div>
                            </div>


                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>