<div style="margin-bottom: 2.8%;">
    <app-navbar></app-navbar>
</div>
<h1 class="text-center" style="color: blueviolet; padding-top: 5px;">Get your dream Loan</h1>
<div class="card" style="background-color: aqua;">
    <div class="row">

        <div class="column">
            <a href=""><img src="../../../assets/homeloan.jfif" height="61.5%" width="61.5%"
                    style="opacity: 0.8 ; padding-top: 20%; margin-left: 15%;"></a>
            <div class="card" style=" background-color:blue; padding: 5px; margin-top: 5px;">
                <p style="color:aqua; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    A home loan is an amount an individual borrows from a financial institution such as a housing
                    finance company to buy a new or a resale home, construct a home or renovate or extend an existing
                    one.
                </p>
            </div>

        </div>
        <div class="column">
            <img src="../../../assets/studentloan.jfif" height="65%" width="65%"
                style="opacity: 0.8 ; padding-top: 20%; margin-left: 10%; margin-bottom: 5px;">
            <div class="card" style="background-color: blue; padding: 5px; margin-top: 5px;">
                <P style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:aqua;">

                    The student loan is a normal means of funding students and although repayable, it is still real
                    income intended to support students in higher education.
                </P>
            </div>

        </div>
        <div class="column">
            <img src="../../../assets/otherloan.png" height="65%" width="65%"
                style="opacity: 0.8 ; padding-top: 20%; margin-left: 5%; margin-bottom: 5px;">
            <div class="card" style=" padding: 5px; margin-top: 5px;margin-right: 10%;background-color: blue; ">

                <p style="color:aqua;;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    Introducing a wide range of retail loans to meet your diverse needs! Whether the need is for a new
                    house, child's education, purchase of a new car or home appliances, our unique and need specific
                    loans will enable you to convert your dreams to realities.
                </p>
            </div>

        </div>

    </div>
</div>
<div class="container">
    <div class="card" style="width: 20%; margin-top: 2%;p">
        <button class="btn btn-primary" [routerLink]="['/loan']" routerLinkActive="router-link-active" >Apply for loan..</button>
    </div>
</div>